body {
    font-family: Bebas Neue;
    font-size: 1rem;
}

div p {
    border: 2px  rgba(12, 12, 12, 0.945);/*contenedor general*/
    
}

h1 {
    text-align: center;
}

a {
    color: rgb(250, 142, 18);
}

header {
    color: white;
    margin-bottom: 10px;
}

.imagen-4{
    left: 20px;    
}

.contenido {
    background-color: rgb(36, 35, 35);
    border-radius: 20px;
    margin: 1rem;
    text-align: center;
}

.contenido p {
    font-size: 1rem;
    border: .2rem;
    padding: 0.5px;
    text-align: center;
}

.imagen-5{
    left: 50px;
}


@media screen and (max-width: 1400px){
    .peliculas {
        display: flex;
        justify-content: center;
    }

    .contenido {
        width: 380px;
    }

    img {
        width: 350px;
        height: 200px;
        margin: 10px;
    }
}

@media screen and (max-width: 1200px){
    body{
        justify-content: center;
        text-align: center;
    }
    .peliculas {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .contenido {
        width: 380px;

    }

    img {
        width: 210px;
        height: 120px;
        margin: 10px
    }
}

@media screen and (max-width: 768px){

    .peliculas {
        display: block;
        justify-content: center;
        
    }

    .contenido {
        width: 360px;
        margin: .5rem auto; 
    }

    img {
        width: 280px;
        height: 160px;
        margin: 10px
    }
}
